<h2>{{ data.id }}</h2>

<form [formGroup]="carritoForm" style="display: flex; flex-direction: column; gap: 20px; width: 100%; max-width: 400px;">

       <!-- UsuarioId Input Field -->
    <mat-form-field>
        <input matInput placeholder="usuarioId" formControlName="usuarioId">
        <mat-error *ngIf="carritoForm.get('usuarioId').hasError('required')">UsuarioId is required</mat-error>
    </mat-form-field>

    <!-- FechaCreación Input Field -->
    <mat-form-field>
        <input matInput placeholder="fechaCreacion" formControlName="fechaCreacion">
        <mat-error *ngIf="carritoForm.get('fechaCreacion').hasError('required')">fechaCreacion is required</mat-error>
    </mat-form-field>

    <!-- Buttons -->
    <div style="display: flex; justify-content: space-between; gap: 10px;">
        <button *ngIf="!isEditMode" mat-raised-button color="primary" (click)="onAdd()" class="btnFormGreen">Add</button>
        <button *ngIf="isEditMode" mat-raised-button color="primary" (click)="onSave()" class="btnFormGreen">Update</button>
        <button mat-button mat-dialog-close (click)="onCancel()" id="btnFormCancel">Cancel</button>
    </div>

</form>

