<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/Zapato">Zapato</a>
      <a mat-list-item href="/Categorias">Categorias</a>
      <a mat-list-item href="/Comentarios">Comentarios</a>
      <a mat-list-item href="/Usuario">Usuario</a>
      <a mat-list-item href="/Carrito">Carrito</a>
      <a mat-list-item href="/Detallecarrito">Detallecarrito</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Lestrange</span>
      <span class="spacer"></span> <!-- This will push the avatar to the right -->
      <div class="avatar-container">
        <div class="avatar">
          <ng-container *ngIf="userName; else noUser">
            {{ initials }}
          </ng-container>
          <ng-template #noUser>No User</ng-template>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
